---
title: Publish and Update
owner: Services
---

This topic provides resources to help you publish and update your service tile for Pivotal Cloud Foundry (PCF).

## <a id="publish"></a> Publish Your Tile

* [The Pivotal Partner Software Product Release Cycle](http://docs.pivotal.io/partners/releases.html) explains how Pivotal works with partners to release PCF products, from the private Alpha and Closed Beta phases, to General Availability and publication on [Pivotal Network](http://network.pivotal.io)

## <a id="update"></a> Update Your Tile

Most tile updates originate with the tile developer, but new releases of PCF can also necessitate tile changes, to maintain compatibility with the current version of the platform.

* Tile Generator automates tile versioning and upgrades.  
[Versioning](./tile-generator.html#versioning) in the Tile Generator documentation provides details.

* When changes to PCF require tile changes, Pivotal distributes instructions to all of its partners.  
The [Pivotal Cloud Foundry v1.8 Partners Release Notice](http://docs.pivotal.io/partners/release-notes.html) is an example.
