<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/tiledev/2-6/index.html">PCF Tile Developer Guide</a>
      </li>
      <li>
        <a href="/tiledev/2-6/release-notes.html">PCF v2.6 Partners Release Notes</a>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Tile Basics</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-6/tile-basics.html">Tile Basics</a>
          </li>
          <li>
            <a href="/tiledev/2-6/cf-concepts.html">How PCF and PCF Services Work</a>
          </li>
          <li>
            <a href="/tiledev/2-6/tile-structure.html">How Tiles Work</a>
          </li>
         <li>
           <a href="/tiledev/2-6/odb-resource-defaults.html">Configuring Disk and VM Type Defaults for On-Demand Service Tiles</a>
          </li>
          <li>
            <a href="/tiledev/2-6/runtime-config.html">Managing Runtime Configs</a>
          </li>
          <li>
            <a href="/tiledev/2-6/testing.html">Tile Testing</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu expanded">
        <span role="button"><strong>Types of Integration</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-6/stages.html">Types of Integration</a>
          </li>
          <li>
            <a href="/tiledev/2-6/user-provided.html">User-Provided Service</a>
          </li>
          <li class="has_submenu">
            <span role="button"><strong>Brokered Service</strong></span>
            <ul>
              <li>
                <a href="/tiledev/2-6/brokered.html">Brokered Service</a>
              </li>
              <li>
                <a href="/tiledev/2-6/service-brokers.html">Service Broker</a>
              </li>
            </ul>
           </li>
          <li class="has_submenu">
            <span role="button"><strong>Managed Service</strong></span>
            <ul>
              <li>
                <a href="/tiledev/2-6/managed.html">Managed Service</a>
              </li>
              <li>
                <a href="/tiledev/2-6/bosh-release.html">BOSH Releases</a>
              </li>
              <li>
                <a href="/tiledev/2-6/tile-errands.html">Errands</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/tiledev/2-6/on-demand.html">On-Demand Service</a>
          </li>
          <li>
            <a href="/tiledev/2-6/buildpacks.html">Buildpacks</a>
          </li>
          <li class="has_submenu">
            <span role="button"><strong>CredHub</strong></span>
            <ul>
              <li>
                <a href="/tiledev/2-6/credhub.html">CredHub</a>
              </li>
              <li>
                <a href="/tiledev/2-6/create-credhub-vars.html">Creating New Variables in CredHub</a>
              </li>
              <li>
                <a href="/tiledev/2-6/migrating-credhub-credentials.html">Migrating Existing Credentials to CredHub</a>
              </li>
              <li>
                <a href="/tiledev/2-6/get-credhub-vars.html">Fetching Variable Names and Values</a>
              </li>
              <li>
                <a href="/tiledev/2-6/ssi-creds-tiledev.html">Securing Service Credentials with Runtime CredHub</a>
              </li>
            </ul>
          <li>
            <a href="/tiledev/2-6/embedded-agents.html">Embedded Agents</a>
          </li>
          <li>
            <a href="/tiledev/2-6/nozzle.html">Logs, Metrics, and Nozzles</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/tiledev/2-6/migrating-syslog-configuration.html"> Syslog: Migrating Existing Configuration</a>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Service Brokers</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-6/service-brokers.html">Service Broker Resources</a>
          </li>
          <li>
            <a href="/tiledev/2-6/brokers/examples.html">Example Service Brokers</a>
          </li>
          <li>
            <a href="/tiledev/2-6/brokers/binding-credentials.html">Binding Credentials</a>
          </li>
          <li>
            <a href="/tiledev/2-6/brokers/enable-sharing.html">Enabling Service Instance Sharing</a>
          </li>
          <li>
            <a href="/tiledev/2-6/brokers/dashboard-sso.html">Dashboard Single Sign-On</a>
          </li>
          <li>
            <a href="/tiledev/2-6/brokers/app-log-streaming.html">Application Log Streaming</a>
          </li>
          <li>
            <a href="/tiledev/2-6/brokers/supporting-multiple-cf-instances.html">Supporting Multiple Cloud Foundry Instances</a>
          </li> 
        </ul>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Development Tools</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-6/tools.html">Development Tools</a>
          </li>
          <li>
            <a href="/tiledev/2-6/environments.html"> Development Environments</a>
         </li>
          <li>
            <a href="/tiledev/2-6/tile-generator.html">Tile Generator</a>
          </li>
          <li>
            <a href="/tiledev/2-6/pcf-command.html">pcf Command Line Utility</a>
          </li>
          <li>
            <a href="/tiledev/2-6/concourse.html">Continuous Integration Testing</a>
          </li>
          <li>
            <a href="/tiledev/2-6/sdk.html">Services SDK</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Publish and Update</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-6/publish.html">Publish and Update</a>
          </li>
           <li>
           <a href="/tiledev/2-6/tile-documentation.html">Creating Tile Documentation</a>
          </li>
          <li>
            <a href="/tiledev/2-6/releases.html">Partner Software Product Release Cycle</a>
          </li>
          <li>
            <a href="/tiledev/2-6/tile-upgrades.html">Upgrading Tiles</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <span role="button"><strong>Reference</strong></span>
        <ul>
          <li>
            <a href="/tiledev/2-6/reference.html">Reference</a>
          </li>
          <li>
            <a href="/tiledev/2-6/property-template-references.html">Property and Template References</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/tiledev/2-6/contacts.html">Contact Us</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
