---
title: BOSH-Lite and cf-release
owner: Services
---

If your integration includes managed services, you will also need an instance
of BOSH that can manage virtual machines and BOSH releases for you.
[BOSH-Lite](https://github.com/cloudfoundry/bosh-lite) works well for that
purpose.

Between these two components, you will have everything you need to develop
tiles, except for Pivotal's Ops Manager. But if you followed the recommended
[staged development approach](development.html) you will not need an actual full
PCF environment until the later phases of your development.

## Setting up BOSH-Lite

- [Install BOSH-Lite](https://github.com/cloudfoundry/bosh-lite)

<p class="note"><strong>Note</strong>:	For this type of development environment, you only need BOSH-Lite itself to deploy managed service releases. You do **not** need to follow the instructions to Deploy Cloud Foundry in BOSH-Lite, as Cloud Foundry is provided by the PCF Dev installation above.</p>


