---
title: Embedded Agents
owner: Services
---

This topic provides resources for configuring services that use software agents embedded in application containers.

## <a id="overview"></a> Overview

Some service integrations depend on the ability to inject code into application containers. Examples include:

- Application Performance Monitoring (APM) agents for monitoring services
- Container-embedded API gateways
- Client-side routers

We refer to these injected components as "container-embedded agents."

[Buildpacks](buildpacks.html) provide a mechanism to inject components into the application container image, and the `.profile.d` directory provides a way to start agents before or alongside the customer application.

## <a id="resources"></a> Embedded Agents Resources

- [Agent Injection with the Meta-Buildpack](https://github.com/guidowb/meta-buildpack)

- [Using .profile.d](http://docs.pivotal.io/pivotalcf/devguide/deploy-apps/deploy-app.html#profiled)
