---
title: Other Integrations
owner: Services
---


## <a id="overview"></a> Overview

There are several integration points outside the service broker API:

* [Buildpacks](./buildpacks.html) compile and package apps to run on PCF.
* A PCF buildpack lets you inject embedded agent code into application containers, such as for application performance monitoring (APM) or client-side routing.
[Embedded Agents](./embedded-agents.html) explains how to do this.
* Cloud Foundry's Loggregator system emits platform metrics, application metrics, and application logs
[Nozzles](./nozzle.html) explains how to produce and consume these metrics and logs.
* PCF does not use IPv6 internally. To enable external IPv6 communications, your tile must [configure them](./release-notes-1-11.html#ipv6).
* Tiles deployed on PCF v1.11+ can use [CredHub](./credhub.html) to securely store credentials, rather than including them in the product and job template files and having Ops Manager write them into the manifest.
