---
title: Other Integrations
owner: Services
---


## <a id="overview"></a> Overview

There are several integration points outside the service broker API:

* [Buildpacks](./buildpacks.html) compile and package apps to run on PCF.
* A PCF buildpack lets you inject embedded agent code into application containers, such as for application performance monitoring (APM) or client-side routing.
[Embedded Agents](./embedded-agents.html) explains how to do this.
* Cloud Foundry's Loggregator system emits platform metrics, application metrics, and application logs
[Nozzles](./nozzle.html) explains how to produce and consume these metrics and logs.
