---
title: Publish and Update
owner: Services
---

This topic provides resources to help you publish and update your service tile for Pivotal Cloud Foundry (PCF).

## <a id="publish"></a> Publish Your Tile

[The Pivotal Partner Software Product Release Cycle](./releases.html) explains how Pivotal works with partners to release PCF products,
from the private alpha and closed beta phases, to general availability and publication on [Pivotal Network](http://network.pivotal.io).

After you've packaged your product's BOSH releases, stemcell, metadata, and other tile components into a single zipped download file, post it to Pivotal Network in one of two ways:

  * Use the Pivotal Network [API command](https://network.pivotal.io/docs/api#public/docs/api/v2/product_files.md) `POST /api/v2/products/:product_slug/product_files`.
  * Use the Pivotal Network product upload form.
  ![Pivnet Upload GUI](img/pivnet-upload.png)

## <a id="update"></a> Update Your Tile

Most tile updates originate with the tile developer, but new releases of PCF can also necessitate tile changes 
to maintain compatibility with the current version of the platform.

* Tile Generator automates tile versioning and upgrades.  
For more information, see [Versioning](./tile-generator.html#versioning) in the Tile Generator documentation.

* [Tile Upgrades](./tile-upgrades.html) explains how to write and include a JavaScript file that automates tile upgrades 
by migrating property names and values from one tile version to another.

* When changes to PCF require tile changes, Pivotal distributes instructions to all of its partners:
	* [Pivotal Cloud Foundry v1.8 Partners Release Notice](./release-notes-1-8.html)
	* [Pivotal Cloud Foundry v1.7 Partners Release Notice](./release-notes-1-7.html)
