---
title: Partner Software Product Release Cycle
owner: London Services
---

This topic describes the four phases of product release to Pivotal Cloud Foundry (PCF).

## <a id='alpha'></a>Phase 1: Alpha

A product begins development in the **Alpha** phase. The product undergoes constant churn and refactoring, and may not be feature-complete.

Customers do not have exposure to a product during Alpha, and there are no quality requirements in this phase. Instead, developers use this stage for internal testing.

## <a id='closed-beta'></a>Phase 2:  Closed Beta

During **Closed Beta**, a limited pool of users gains access and provides feedback to a product. This feedback drives further development. A status of Closed (Private) Beta informs users that the product may be unstable and should not be used in production.

A product should remain in Closed Beta while:

- Changes may break product function or cause loss of data.
- Users may experience major bugs.
- Users may need to delete and reinstall tiles rather than upgrading them.

Developers make products in Closed Beta available to specific groups or individual customers on [Pivotal Network](http://network.pivotal.io).

### Requirements
To enter Closed Beta, a product must meet the following requirements:

* The product must run properly on at least one IaaS, so that customers can install and try it out. Supported infrastructures are AWS, vSphere and OpenStack.

* Customers must be able to install the product error-free through a tile in Pivotal Ops Manager, and delete the product there without any traces remaining.

* The product tile must target the latest released stemcell version, as listed on [Pivotal Network](https://network.pivotal.io/products/stemcells).

* The release notes must make clear the following constraints:

  * Potential data loss and lack of support make the beta version of the product unsuitable for use in production.

  * Users will need to delete the old tile and install a new one in order to move to the next version of the product. No upgrade path exists.

* The product must fulfill its promised feature set, and perform as desired.

Pivotal also recommends that any Closed Beta product include an easy way for users to provide feedback to the product developer.

### Steps to Release
The following steps create a new Closed Beta release for your product:

1. Log into [Pivotal Network](http://network.pivotal.io).

1. Create a new release for your product and populate all of the required fields.

1. Check that the release version states **BETA**.

1. Clearly state in the release description that the product cannot be upgraded, and that users may suffer data loss.

1. Email your Pivotal contact to request product validation and Closed Beta release. Please provide basic instructions on how to validate the new feature set. Pivotal will verify that the release meets all requirements, then make it accessible to invited customers.

## <a id='public-beta'></a>Phase 3: Public Beta

Your product will be made available to the general public in **Public Beta**. The wider pool of users increases public awareness and feedback and facilitates marketing and advertising. As development continues, you may publish a series of product versions in Public (Open) Beta.

Your product is a good candidate for the **Public Beta** stage if:

- You have high confidence that further development will not break the product or incur data loss for users.
- The tile can be upgraded.
- You still want user feedback to discover minor bugs and evaluate existing features.
- The product does not contain the full set of features intended for the final release.
- You feel comfortable supporting this tile for customers.

Products in Public Beta are available on [Pivotal Network](http://network.pivotal.io) to any user with a free Pivotal Network account.

### Requirements
Products in Public Beta must meet the following requirements:

* The product meets all requirements for [**Closed Beta**](#closed-beta).

* The tile can be upgraded to subsequent versions without requiring the customer to uninstall the previous version.

* The product supports upgrade paths from any minor version or patch to the next minor version and any patches.

* Tile version upgrades result in no data or configuration loss, and maintain service functionality and availability.

* Where appropriate, PCF integrations work properly, including:
  * Registered routes
  * UAA
  * Service brokers

* You can respond to discovery of a security flaw on the [Common Vulnerabilities and Exposures (CVE) list](https://cve.mitre.org/cve/index.html) within a reasonable time frame. Security flaws include vulnerabilities in your stemcell or within one of the components of your tile.
<p class="note"><strong>Note</strong>: Pivotal attempts to respond to all critical CVEs within 48 hours.
</p>

### Steps to Release

1. Log into [Pivotal Network](http://network.pivotal.io).

1. Create a new release for your product and populate all of the required fields.

1. Check that the release version states **BETA**.

1. Email your Pivotal contact to request product validation and Public Beta release. Please provide basic instructions on how to validate the new feature set. Pivotal will also validate the upgrade scenario and data persistence. After verifying that the release meets all requirements, Pivotal will make it visible to customers.

## <a id='ga'></a>Phase 4: General Availability

A product qualifies for **General Availability** when:

- It is production-ready.

- You can charge money for this product and provide support guarantees to your customers.

- The product's full set of features meets the standards of quality that you wish to uphold.

### Requirements
Products must meet the following requirements for **General Availability**:

* The product meets all requirements for [**Public Beta**](#public-beta).

* You consider the product production-ready, and you have adequate unit and functional tests to ensure high quality.

* You can provide customer support.

* Your business team can "Go to market."

* The product can scale vertically, by increasing the amount of RAM or CPU. Vertical scaling improves performance and does not result in data loss.

* If appropriate, the product can scale horizontally for high availability.
  * Scaled-out nodes (application VMs) function correctly.
  * Removing a node does not result in downtime.

* If appropriate, the product supports zero downtime deployment.

* Product installation does not require an internet connection, after initial product download.

### Steps to Release
1. Log into [Pivotal Network](http://network.pivotal.io).

1. Create a new release for your product and populate all of the required fields.
1. Email your Pivotal contact to request product validation and General Availability release. Please provide basic instructions on how to validate the new feature set. Pivotal will also validate the upgrade scenario and data persistence.
