---
title: Pivotal Cloud Foundry v1.12 Partners Release Notice
owner: Technical Program Management
---

This topic describes the changes that PCF v1.12 introduces which may be relevant to partner service tiles.

## <a id="credhub"></a>CredHub

### <a id="cred-types"></a>Additional Credential Migrations

Version 1.11.0 of PCF introduced CredHub for credential management, and PCF v1.11.1 added
support for migrating `secret` credentials to CredHub.

PCF v1.12 Alpha 1 introduced support for migrating additional credential types, including `rsa` and `simple_credential`. Tile developers can migrate these credential types using the same JavaScript migration process as `secret` credentials.

See [Migrating Existing Credentials to CredHub](./migrating-credhub-credentials.html) for more information.

## <a id="zero-instance"></a>Resource Config Pane Hides Zero-Instance Jobs

A service tile's [**Resource Config**](./tile-structure.html#process) pane lists the jobs that the service runs and lets operators allocate resources to the jobs that are configurable.

Tiles can define a job as `non_configurable` and set its instance count to `0`. This prevents the job from running, but lets external services access the job properties. The Ops Manager 1.12 **Resource Config** pane and [API endpoints](https://opsman-dev-api-docs.cfapps.io/#retrieving-resource-configuration-for-a-product) do not include these zero-instance jobs.

## <a id="type-defaults"></a>On-Demand VM and Disk Defaults

On-demand service tiles have a configuration pane for each service plan. Operators use drop-down menus on the plan configuration pane to set the VM type and persistent disk type for each instance of that plan.

![Plan Pane](img/plan-config.png)

The [property](./property-reference.htl#property-blueprints) that defines the VM type options is `vm_type_dropdown`, and the menu options for disk type come from the `disk_type_dropdown` property.

To help operators make the right choices for their on-demand plans, Ops Manager 1.12 lets tile developers specify in the product template `default` values for each VM type and disk type resource. For `vm_type_dropdown` the resources are `ram`, `ephemeral_disk`, and `cpu`. For `disk_type_dropdown` the resource is `persistent_disk`. For example:

```
  - name: kafka_server_vm_type
    type: vm_type_dropdown
    configurable: true
    resource_definitions:
    - name: ram
      default: 3072
    - name: ephemeral_disk
      default: 1024
    - name: cpu
      default: 1

  - name: kafka_server_vm_type
    type: disk_type_dropdown
    configurable: true
    resource_definitions:
      - name: persistent_disk
        default: 3072
```

Because VM and disk options differ by IaaS, Ops Manager uses a best-fit algorithm to match defaults to their closest equivalents on the IaaS, similar to how the **Resource Config** pane handles its **VM Type** and **Persistent Disk Type** options. Ops Manager handles defaults as follows:

<table id='vm-disk-defaults' border="1" class="nice" >
  <tr>
    <th>If you...</th>
    <th>then Ops Manager...</th>
  </tr><tr>
    <td>specify resource definitions with defaults</td>
    <td>selects the best fit values for your IaaS.</td>
  </tr><tr>
    <td>do not specify one default resource</td>
    <td>sets the individual default resource to zero and selects the best fit for your IaaS.</td>
  </tr><tr>
    <td>do not specify any default resources</td>
    <td>sets all default values to zero and selects the best fit for your IaaS.</td>
  </tr>
</table>
