---
title: PCF v2.0 Partners Release Notice
owner: Technical Program Management
---

This topic describes the changes that Pivotal Cloud Foundry (PCF) v2.0 introduces which may be relevant to partner service tiles.

## <a id='colocated-errands'></a>Colocated Errands

Tile authors can configure the errands defined in their product tile to run on existing VMs in a deployment.
Colocated errands run faster than traditional errands and use fewer resources, including disk and IP space.

See [Tile Errands](./tile-errands.html#colocated) for more information.

## <a id='runtime-configs'></a>Runtime Configs

Tile authors can include `runtime_configs` as a top-level key in tile metadata to define global deployment configurations.
Named runtime config settings apply to all VMs in a deployment.

Version 2.0.0 of Ops Manager supports defining any number of runtime configs in an existing tile.
Tile authors can also create a tile that includes a runtime config only and does not define any job types or errands.

See [Managing Runtime Configs](./runtime-config.html) for more information.

## <a id='type-defaults'></a>On-Demand Disk and VM Type Defaults

On-demand service tiles have a configuration pane for each service plan.
Operators use dropdown menus on the plan configuration pane to set the VM type and persistent disk type for each instance of that plan.

Ops Manager 2.0.0 allows tile authors to specify the default values for VM types and persistent disk types in their tile's plan configuration pane.

See [Configuring Disk and VM Type Defaults for On-Demand Service Tiles](./odb-resource-defaults.html) for more information.