<div class="main-container">
  <div class="main">
    <h2 class="title-intro">
      Partner Services Enablement for PCF (Placeholder Page)
    </h2>
    <ul class="panels">
      <li class="panel span3">
        <a class="configure" href="tiledev/index.html" id="tiledev">
          <div class="prodname">
            PCF Tile Developer Guide
          </div>
        </a>
      </li>
      </ul>
  </div>
</div>

